<!DOCTYPE html>
<html>
<head>
    <style>
     .sub_div {
        position: absolute;
        bottom: 0px;
    }
    </style>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Technical Support Departament</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script-->
</head>
<body style="background-color: grey;">
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{message}}</li>
            {% endfor %}
    </ul>
    {% endif %}

    {% block content %}

    

    {% endblock content %}

    <div class="sub_div"> 
        <div>
            <center><h1><a href="/contact"> Contact </a></h1></center>
        </div>
    </div>
</body>
</html>