<div>
    {% for room in rooms %}
                
    <div>
            {% if request.user == room.host %}

            <a href="{% url 'update-room' room.id %}">Edit</a>
            <a href="{% url 'delete-room' room.id %}">Delete</a>

            {% endif %}

            <a href="{% url 'user-profile' room.id %}">@{{room.host.username}}</a>
            <center>{{room.id}} -- <a style="text-decoration:none" href="{% url 'room' room.id %}">{{room.name}}</a></center>
            <center><small>{{room.topic.name}}</small></center>
            <hr style="height:2px;border-width:0;color:lightslategray;background-color:lightslategray">
    </div>

    {% endfor %}
</div>