{% extends 'main.html' %}


{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">

    <div>

        <h3>Browse Topics</h3>

        <div>
            <a href="{% url 'home' %}">All</a>
        </div>

        {% for topic in topics %}
        <div>
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>
        {% endfor %}

    </div>

    <div>

        <h5>{{room_count}} rooms available</h5>
        <center><a href="{% url 'create-room' %}">Create form</a></center>
        <hr style="height:2px;border-width:0;color:lightslategray;background-color:lightslategray">

        <div>

            {% for room in rooms %}
            
            <div>
                <a href="{% url 'update-room' room.id %}">Edit</a>
                <a href="{% url 'delete-room' room.id %}">Delete</a>
                <center><span>@{{room.host.username}}</span></center>
                <center>{{room.id}} -- <a style="text-decoration:none" href="{% url 'room' room.id %}">{{room.name}}</a></h5></center><h5>
                <center><small>{{room.topic.name}}</small></center>
                <hr style="height:2px;border-width:0;color:lightslategray;background-color:lightslategray">
            </div>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock content %}